.todo-row {
    width: 100%;
    background-color: #eee;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .5);
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    user-select: none;
    &.complete {
        opacity: 0.2;
        .icons{
            & svg{
                pointer-events: none;
            }
            & svg:last-child{
                pointer-events: all;
            }
        }
    }
    .content{
        max-width: 70%;
        white-space: normal;
    }
    .icons{
        & svg{
            margin: 0 10px;
            cursor: pointer;
        }
    }
}